<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dede.dao.MenuDao">
    <resultMap id="treeNodeMap" type="com.dede.entity.TreeNode">
        <id property="id" column="id"></id>
        <result property="text" column="text"></result>
        <result property="state" column="state"></result>
        <result property="children" column="children"></result>
        <result property="iconCls" column="icon"></result>
        <result property="parentId" column="parent_id"></result>
        <result property="isLeaf" column="is_leaf"></result>
    </resultMap>

    <select id="getMenuByParentId" resultMap="treeNodeMap">
        select * from t_system_menu t where t.parent_id = #{parentId}
    </select>
    <select id="getMenuTrees" resultMap="treeNodeMap">
        select * from t_system_menu t where t.parent_id = #{parentId}
    </select>

    <select id="getTreePagination" resultType="java.util.HashMap">
        select * from t_system_menu t limit #{start},#{rows}
    </select>

    <select id="getTreePaginationCount" resultType="java.lang.Integer">
        select count(t.id) from t_system_menu t limit #{start},#{rows}
    </select>
</mapper>