<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dede.dao.RoleDao">
    <resultMap id="roleMap" type="com.dede.entity.Role">
        <id property="id" column="id"></id>
        <result property="roleName" column="role_name"></result>
        <result property="type" column="type"></result>
    </resultMap>

    <select id="findRoleByRoleId" resultMap="roleMap">
        select * from t_system_role t where t.id = #{roleId}
	</select>

    <select id="findRoleTypeByUrl" resultMap="roleMap">
		select t.* from t_system_role t left JOIN t_system_menu_role t1 on t1.role_id = t.id
		left join t_system_menu t2 on t2.id = t1.menu_id
		where t2.url = #{url};
	</select>
</mapper>