<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.snowfog.dao.UserDao">
<select id="findUserByUserName" resultType="com.snowfog.entity.User">
  select * from t_system_user t where t.username = #{username}
</select>
</mapper>